@model string
<h2>Reset Password</h2>
<form method="post">
    <input type="hidden" name="token" value="@Model" />
    <input type="password" name="newPassword" placeholder="New password" required class="form-control mb-2" />
    <button type="submit" class="btn btn-success">Reset</button>
</form>
